body {
  padding-top: 70px;
}

.book-item {
  padding: 28px 28px 22px;
  max-width: 198px;

  .book-cover {
    width: 142px;
  }

  .book-title {
    font-size: 16px;
    font-weight: 700;
  }

  .book-author {
    font-size: 14px;
    color: $equalizer-grey
  }

  > * + * {
    margin-top: 12px;
  }
}

.book-list {
  padding: 36px 0;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
}
