.book-list {
  margin-top: 5rem;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.25rem;
}

.book-item {
  padding: 1.75rem 1.75rem 1.375rem;
  max-width: 198px;

  img {
    max-height: 200px;
  }

  .book-title {
    font-size: 16px;
    font-weight: 700;
  }

  .book-author {
    font-size: 14px;
    color: $equalizer-grey
  }

  > * + * {
    margin-top: 0.75rem;
  }
}
