* {
  font-family: $font-family;
}

.flex {
  display: flex;
}

.book-card {
  padding: 1.5rem;
  img {
    height: 368px;
    margin-right: 3.25rem;
  }
}

.book-details {
  .title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 3.25rem;
  }
  
  .genre {
    font-size: 24px;
    font-weight: 700;
    color: $equalizer-grey
  }
  
  .details {
    font-size: 20px;
    color: $equalizer-grey;

    .detail {
      margin-bottom: 2.25rem;
      strong {
        color: $equalizer-black;
      }
    }
  }
}
