body {
  background-color: $wild-sand;
}

.flex {
  display: flex;
}

.container {
  width: 75%;
  max-width: 900px;
  margin: 0 auto;
}

.card {
  background-color: #FFF;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

.book-card {
  margin: 5rem auto;
  padding: 1.5rem;
  background-color: #FFF;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

.book-details {
  flex-grow: 2;

  .title {
    position: relative;
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 3.25rem;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: -1rem;
      left: 0;
      background-color: $earls-green;
    }
  }

  .genre {
    font-size: 24px;
    font-weight: 700;
    color: $equalizer-grey
  }
  
  .details {
    font-size: 20px;
    color: $equalizer-grey;

    .detail {
      margin-bottom: 2.25rem;

      strong {
        color: $equalizer-black;
      }
    }
  }
}

.book-image {
  position: relative;
  flex: 1 0 fit-content;
  margin-right: 3.25rem;

  img {
    max-height: 370px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 115px;
    top: -1rem;
    right: -2rem;
    background-image: url("../assets/img/badge.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(15deg);
  }
}
