.navbar {
  background-color: $white;
  border-top: 6px solid $wolox-blue;
  box-shadow: 0 4px 10px 0 $shadow-black;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;

  .navbar-content {
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;

    .logo {
      width: 212px;
      cursor: pointer;
    }

    .nav-link {
      font-size: 18px;
    }
  }
}
