.login-page {
  background: $white;
  padding: 150px 0;
}

.login-wrapper {
  background-color: $wild-sand;
  border-top: 6px solid $wolox-blue;
  margin: 50px auto;
  max-width: 300px;
  padding: 24px;
  text-align: center;
  width: 80%;

  .logo {
    width: 212px;
  }

  .login-form {
    border-bottom: 2px solid $silver-chalice;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
  }

  .login-field {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    .login-label {
      font-size: 16px;
      margin-bottom: 8px;
      text-align: left;
    }

    .login-input {
      border-radius: 5px;
      min-height: 32px;
      padding: 0 8px;
    }

    .error-msg {
      color: $error-red;
      margin-top: 8px;
    }
  }

  .login-button {
    border-radius: 5px;
    border: 2px solid $wolox-green;
    font-size: 16px;
    padding: 6px 16px;
    width: 100%;

    &:hover {
      opacity: 0.75;
    }
  }

  .filled-button {
    background-color: $wolox-green;
    color: $white;
    margin-top: 24px;
  }

  .outlined-button {
    color: $wolox-green;
    margin-top: 16px;
  }
}
