<div class="login-wrapper">
  <img ng-src="{{$ctrl.woloxLogo}}" alt="Wolox Logo" class="logo">
  <form action="book-list.html" class="login-form">
    <section class="login-field">
      <label for="email" class="login-label">Email</label>
      <input id="email" name="email" type="email" placeholder=" " autocomplete="username" autofocus class="login-input">
    </section>
    <section class="login-field">
      <label for="password" class="login-label">Password</label>
      <input id="password" name="password" type="password" autocomplete="current-password" class="login-input">
    </section>
    <button type="submit" id="signin" class="login-button filled-button">Login</button>
  </form>
  <a class="login-button outlined-button">Sign up</a>
</div>
